main.register-page {
    border: 2px solid rgb(134, 139, 134);
    width: 300px;
    min-height: 100px;
    /* margin: 0 auto; */
    background-color: white;
    margin-top: 5%;
    color:rgb(160, 105, 55)
}

main.register-page h2 {
    text-align: center;
}

.main-body {
    overflow: auto;
}

.State {
    width: 255px;
}

.sign-up-btn {
    border: 1.5px solid #cebaa7;
    border-radius: 10px;
    color:rgb(134, 139, 134);
    font-size: large;
}

.sign-up-btn:hover {
    background-color: #cebaa7;
    border-color: #cebaa7;
}