div.register-content {
    border: 2px solid gray;
    background-color: white;

    border-radius: 1em;

    max-width: 700px;
    min-height: 100px;

    /* margin: 0 auto; */
    padding: 30px;
}

main.register-page h2 {
    text-align: center;
}

.State {
    border: none;
    border-bottom: 2px solid #aaa;
    background: white;

    width: 100%;
    height: 45%;
    margin: 10px 0;
    padding: 3px 0 5px 5px;
}

/*  */

.reg-form {
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
        "f-name   f-name   l-name    l-name"
        "email    email    email     email"
        "password password cPassword cPassword"
        "City     State    State     phone"
    ;
}

.grid-first-name { grid-area: f-name; }
.grid-last-name { grid-area: l-name; }
.grid-email { grid-area: email; }
.grid-password { grid-area: password; }
.grid-cPassword { grid-area: cPassword; }
.grid-City { grid-area: City; }
.grid-State { grid-area: State; }
.grid-phone { grid-area: phone; }

/*  */

@media screen and (max-width: 600px) {
    .reg-form {
        grid-template-areas:
            "f-name"
            "l-name"
            "email"
            "password"
            "cPassword"
            "City"
            "State"
            "phone"
        ;
    }
}