main.register-page {
    border: 2px solid black;
    width: 300px;
    min-height: 100px;
    margin: 0 auto;
    background-color: white;
}

main.register-page h2 {
    text-align: center;
}

.main-body {
    overflow: auto;
}

.State {
    width: 255px;
}

.sign-up-btn:hover {
    background-color: #cebaa7;
    border-color: #cebaa7;
}