.form-container {
    display: inline-flex;
    width: 100%;
}

.field {
    background-color: white;
}

.chatContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 425px;
}

.chatRoom {
    flex: 2;
    min-height: 400px;
    background-color: rgba(209, 191, 191, 0.5);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 1%;
}

.chatIm {
    /* margin-left: 1%; */
    flex: 1;
    min-height: 400px;
    background-color: rgba(209, 191, 191, 0.5);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 1%;
    width: 100%;
}

.chatInput {
    background-color: rgba(209, 191, 191, 0.5);
    margin: 1%;
    height: 175px;
    border-radius: 5px;
}