.field {
    background-color: white;
    width: 70%;

}

.chatContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
}

.chatRoom {
    flex: 3;
    min-height: 425px;
    background-color: rgba(209, 191, 191, 0.5);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 1%;
}

.chatIm{
    background-color: white;
    border-color: black;
}

.userChat {
    margin-left: 1%;
    flex: 1;
    min-height: 425px;
    background-color: rgba(209, 191, 191, 0.5);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 1%;
    width: 100%;
}

.chatInput {
    background-color: rgba(209, 191, 191, 0.5);
    margin: 1%;
    height: 50px;
    border-radius: 5px;
}