/* NOTE:  *//* TODO:  *//* REVIEW:  *//* FIXME:  *//* SECTION:  *//* STUB:  *//* ANCHOR:  *//* *: *//* !: *//* ?: */


*, *::before, *::after {
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


 html, body {
    width: 100%; height: 100%;
    border: 2px solid black;
    font-family: sans-serif;
}


body {
    border: 2px solid gray;

    display: flex;
    flex-flow: column;
}

/* 
body {
    width: 100vw; height: 100vh;
    border: 2px solid black;
    font-family: sans-serif;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}  */
