.component {
    text-align: center;
}

main.auth-page {
    border: 2px solid black;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    /* height: 100%; */
    flex: 1 1 auto;
}

form.form {
    padding: 30px 0;
}

/*  */

div.group {
    position: relative;

    width: 100%;
    height: 100%;
}
    input.input {
        border-bottom: 2px solid #aaa;

        position: relative;

        width: 100%;
        margin: 10px 0;
        padding: 3px 0 5px 5px;
    }
    label.borders {
        border: none;
        /* text-align: center; */
        pointer-events: none;
    }
        label.borders::after {
            content: '';

            position: absolute;
            /* top: 55%; */
            left: 50%;
            right: 50%;
            bottom: 2.15em;
            transition: 0.3s all ease;
            
            width: 0;
            height: 0.15em;
        }
        span.text {
            position: absolute;
            top: 0.7em;
            left: 0;
            transition: 0.3s all ease;
        }
            input.input:focus ~ .borders::after {
                background: #8F5D39;
                left: 0;
                right: 0;
                width: 100%;
            }
            input.input:focus ~ .borders .text {
                color: #8F5D39;
                top: 0;
                font-size: 8pt;
            }
/*  */

input.input:not([value=""]):not(:focus):optional + .borders::after
{
    background: gray;
    left: 0;
    right: 0;
    width: 100%;
}

input.input:not([value=""]):not(:focus):optional + .borders .text
{
    color: gray;
    top: 0;
    font-size: 8pt;
}

/*  */

span.error {
    left: initial;
    right: 0;
    color: red;
}

input.input:focus ~ .borders .error {
    left: initial;
    right: 0;
    color: red;
}

input.input:not([value=""]):not(:focus):optional + .borders .error {
    left: initial;
    right: 0;
    color: red;
}

/*  */

.auth-btn {
    border: 2px solid #CEBAA7;
    background: #CEBAA7;


    border-radius: 0.5em;
    transition: 0.3s background ease;

    width: 100%;
    padding: 1em;
}

.auth-btn:hover {
    border: 2px solid #C0977A;
    background: #C0977A;
    color: white;
}

.auth-btn:active {
    border: 2px solid #CEBAA7;
    background: #CEBAA7;
    color: white;
}

.auth-btn:disabled {
    border: 2px solid silver;
    background: silver;
    color: black;
}