.poochCard{
    background-color: rgba(177, 167, 140, 0.418);
    padding: 15px;
}

.form-label {
    color: rgb(141, 114, 79);
    font-size: large;
    width: 50% !important;
}

.submitAddPooch {
    background-color:  rgb(202, 160, 126);
    background-color: cutom-color;
    border-color:  rgb(202, 160, 126);
    border-color: cutom-cor;
}

.submitAddPooch:hover {
    background-color: rgba(209, 191, 191, 0.5);
    background-color: cutom-color;
    border-color: rgba(209, 191, 191, 0.5);
    border-color: cutom-cor;
}