.preview {
    border: 2px solid gray;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    height: 150px;
}

.card {
    border: 2px solid black;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}

.pooch-pic {
    background: url("/assets/images/Pats-Friend.png");
    background-size: 100px 100px;
    height: 100px;
    width: 100px;
}

.right-side, 
.left-side {
    display: grid;
}
