.banner {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 92vh;
  background: url("/assets/images/dogsPlaying.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.create-button,
.login-button {
  cursor: pointer;
  padding: 20px;
  font-size: 15pt;
  border-radius: 10px;
  border: 2px solid black;
  border: none;
  background-color: #cebaa7;
  color: white;
}

.signBtn:hover,
.loginBtn:hover {
  text-decoration: none;
}

.create-button:hover,
.login-button:hover {
  background-color: #c0977a;
}

.banner-text,
.banner-adoption {
  font-size: 30pt;
  color: whitesmoke;
}

.banner > * {
  margin: 15px;
}
