.banner-section {
  /* border: 2px solid black; */
  font-family: 'Roboto Mono', monospace;

  background: url("/assets/images/dogsPlaying.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 90vh;
}

.cta-caption {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px #000;
  font-size: 20pt;
  font-weight: 600;
  margin-bottom: 60px;
}


.cta-btns {
  /* border: 2px solid black; */
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;  
}
  .cta-link {
    text-align: center;

    border: 2px solid black;
    background: #cebaa7;
    color: white;

    font-size: 15pt;
    border-radius: 10px;

    width: 200px;
    height: 100px;
    margin: 5px;
    padding: 20px;
  }
  .cta-link:hover {
    text-decoration: none;
    background: #664732;
    color: white;
  }
/*  */