.banner {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 92vh;
    background: url("/assets/images/dogsPlaying.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.banner-button {
    cursor: pointer;
    padding: 20px;
    font-size: 10pt;
    border-radius: 10px;
    border: 2px solid black;
    border: none;
    background-color: #CEBAA7;
    color: white;
}

.banner-button:hover {
    background-color: #C0977A;
}

.banner-button:active {
    background-color: red;
}

.banner-text,
.banner-adoption {
    font-size: 30pt;
    color: whitesmoke;
}

.banner>* {
    margin: 15px;
}