/* NOTE:  *//* TODO:  *//* REVIEW:  *//* FIXME:  *//* SECTION:  *//* STUB:  *//* ANCHOR:  *//* *: *//* !: *//* ?: */

/* 
= COLORS =
#CEBAA7
#8F5D39
#8F857C
#faebd7
#664732
#C0977A
#a06937
*/

*, *::before, *::after {
    margin: 0; padding: 0;
    box-sizing: border-box;
}


html, body , div#root {
    width: 100%; height: 100%;
    /* width: 100vw; height: 100vh; */
    font-family: sans-serif;
}


html { border: 2px solid black; }
body { border: 2px solid silver; }
div#root { 
    border: 2px solid gray; 
    display: flex;
    flex-flow: column;
}

/*  */

li,a {
    text-decoration: none;
    list-style: none;
    color: black;
}

input {
    outline: none;
    border: none;
}

button,
input[type=submit]
{
    /* outline: none; */
    display: inline-block;
    cursor: pointer;
    /* border: none; */
    /* background: none; */
    /* padding: 5px; */
}