.navbars {
    /* border: 2px solid red; */
    height: 100%;
}
    .navbars ul {
        /* border: 2px solid blue; */
        display: flex;
        height: 100%;
    }
    /* .navbars li { */
        /* border: 2px solid lightblue; */
        /* height: 100%; */
    /* } */
    .navbars a {
        background: #cebaa7;
        /* border: 2px solid green; */
        color: white;
        font-size: 17px;

        display: flex;
        align-items: center;
        justify-content: center;

        /* width: 100%; */
        height: 100%;
        padding: 0 20px;
    }
        .navbars a:hover {
            background: #c0977a;
            color: black;
            text-decoration: none;
        }
        .navbars a:active {
            /* background: cornsilk; */
            color: black;
        }
/*  */

.menu-bar {
    cursor: pointer;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
}
    .menu-bar i {
        color: black;
        font-size: 1.5em;
        padding: 0 10px;
    }
        .menu-bar i:hover {
            color: darkred;
        }
        .menu-bar i:active {
            color: darkblue;
        }
/*  */

@media screen and (min-width: 550px) {
    .menu-bar {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .navbars {
        display: none;
    }

    .navbars {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        position: absolute;
        top: 100%;
        right: 0;

        /* width: 200px; */
        width: 100%;
        height: auto;
    }

    .navbars ul {
        flex-flow: column;
    }

    .navbars a {
        padding: 10px 0;
    }
}

/*  */

.active {
    display: block;
}

.hidden {
    display: none;
}