.navbar {
    border: 2px solid red;
}
    .navbar ul {
        border: 2px solid blue;
        display: flex;
        height: 100%;
    }   
    .navbar li {
        border: 2px solid lightblue;
    }
    .navbar a {
        background: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border: 2px solid green;
        /* color: white; */

        display: flex;
        align-items: center;
        justify-content: center;

        /* width: 100%; */
        height: 100%;
        padding: 0 10px;
    }
    .navbar a:hover {
        background: antiquewhite;
        color: black;
    }
    .navbar a:active {
        background: cornsilk;
        color: black;
    }
/*  */

.menu-bar {
    cursor: pointer;
    border: 2px solid red;
    display: flex;
    align-items: center;
}
    .menu-bar i {
        color: black;
        font-size: 1.5em;
        padding: 0 10px;
    }
    .menu-bar i:hover {
        color: darkred;
    }
    .menu-bar i:active {
        color: darkblue;
    }
/*  */

@media screen and (min-width: 550px) {
    .menu-bar { display: none; }
}


@media screen and (max-width: 550px) {
    .navbar { display: none; }

    .navbar {
        width: 200px;
        /* width: 100%; */
        height: auto;

        position: absolute;
        top: 100%;
        right: 0;
    }
    .navbar ul {
        flex-flow: column;
    }
    .navbar a {
        padding: 10px 0;
    }
}

/*  */

.active { display: block; }
.hidden { display: none; }