.component {
  text-align: center;
}

form label {
  width: 100px;
  display: inline-block;
  text-align: center;
}

fieldset {
  width: 50%;
  background-color: white;
  margin-left: 25%;
}

input {
  border-bottom: 2px solid #aaa;
  margin: 10px 0;
  padding: 5px 0;
}

.save-btn,
.edit-btn {
  border: 2px solid #aaa;
  border-radius: 3px;
  width: 50px;
}

.fa-edit {
  font-size: 20px;
  margin-left: 5px;
}

.icon {
  border: none;
}
