.component {
    text-align: center;
}

main.home-page {
    /* border: 2px solid black; */
    /* background: url("/assets/images/dogsPlaying.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

    height: 100%;
}