.component {
    text-align: center;
}

.cardTitleDog{ 
    background-color: rgba(170, 143, 70, 0.678);
    padding: 12px;
    margin: 0px;
}

.cardTitle2{
    font-size: large;
    background-color: rgba(170, 143, 70, 0.678);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin: 0px;
}

.cardMain{
background-color: rgba(177, 167, 140, 0.418);
}

.cardFooter{
    padding: 10px;
    background-color: rgba(177, 167, 140, 0.418);
}

.dogImage {
    height: 100%;
    background: url(../../../../assets/images/IMG_5981.jpg) center no-repeat;
    background-size: cover;
}

.editDog, .saveDog {
    background-color:  rgb(202, 160, 126);
}

.editDog:hover, .saveDog:hover {
    background-color: rgba(209, 191, 191, 0.5);
}

