main.login-page {
    border: 2px solid black;
    width: 300px;
    min-height: 100px;
    margin: 0 auto;
    background-color: white;
}

main.login-page h2 {
    text-align: center;
}

.main-body {
    background: url(/assets/images/bubbles-two.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 92.25vh;
    font-family: 'Roboto Mono', monospace;
}

.login-btn {
    border: 1.5px solid black;
    border-radius: 10px;
    height: 60px;
    width: 85px;
}

.login-btn:hover {
    background-color: #cebaa7;
    border-color: #cebaa7;
}