div.login-content {
    border: 2px solid black;
    background-color: white;

    border-radius: 1em;

    max-width: 300px;
    min-height: 100px;
    /* margin: 0 auto; */
    padding: 30px;
}

/*  */

div.input-message p {
    color: red;
    margin: 0;
}



/* 
.main-body {
    background: url(/assets/images/bubbles-two.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 92.25vh;
    font-family: 'Roboto Mono', monospace;
} 
*/
