.banner {
    /* width: 100%; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: url("/assets/images/dogsPlaying.jpeg") no-repeat fixed;
    background-size: cover;
}

.banner-button {
    cursor: pointer;
    padding: 20px;
    font-size: 10pt;
    border-radius: 10px;
    border: 2px solid black;
    border: none;
    background-color: antiquewhite;
}

.banner-button:hover {
    background-color: aquamarine;
}

.banner-button:active {
    background-color: red;
}

.banner-text {
    font-size: 30pt;
    color: whitesmoke;
}

.banner>* {
    margin: 15px;
}